html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  color: #000;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1220px;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.main {
  flex-grow: 1;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

  outline: 0;
  outline-offset: 0;
}

/* ------- */

/* Header Footer */

.top-menu,
.bottom-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.top-menu__btn,
.bottom-menu__btn {
  background-color: transparent;
  border: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin: 0 auto;
}

.top-menu__link,
.bottom-menu__link {
  display: grid;
  place-content: center center;
  width: 50px;
  height: 50px;
}

/* Main */

main {
  display: grid;
  place-content: center center;
}

.write-form__user-input {
  padding: 10px;
  width: clamp(250px, 85vw, 1200px);
  height: 80vh;
}

.wisdom_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-direction: column;
}

.wisdom__next,
.wisdom__prev {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.main-index__inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 50px;
}

.main-index__link--my {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  justify-self: center;
}

.my-wisdom__controls {
  display: flex;
  gap: 50px;
}

.my-wisdom__page {
  width: 50px;
  height: 30px;
  border: none;
  border-bottom: 1px solid #000000;
  padding-left: 5px;
  font-size: 18px;
  letter-spacing: 2px;
}
.my-wisdom__page:focus {
  outline: none;
  border-bottom: 2px solid #000000;
}

.add-btn__wrapper {
  display: flex;
  justify-content: space-around;
}