<div class="login-registration">
  <button class="modal-close" type="button">
    <span class="visually-hidden">Закрыть</span>
  </button>

  <form action="{% url "main:login" %}" method="post">
    {% csrf_token %}

    <p class="login-registration__title">
        Login
    </p>

    <div class="login-registration__row">
      <label class="" for="username">Имя пользователя</label>
      <input class="" type="text" name='username' id="username" placeholder="Name" required
      value="{% if form.username.value %}{{form.username.value}}{% endif %}">
      {% if form.username.errors %}
        <p class="">{{form.username.errors}}</p>
      {% endif %}
    </div>
    
    <div class="login-registration__row">
      <label class="" for="password" >Пароль</label>
      <input class="" type="password"  name="password" id="password" placeholder="Password" required>
      {% if form.password.errors %}
        <p class="">{{form.password.errors}}</p>
      {% endif %}
    </div>

    <button class="login-registration__btn" type="submit">Enter</button>

    <a class="registration-link" href="{% url "main:registration" %}">Registration</a>
  </form>
</div>

<style>
  .login-registration__row {
    display: flex;
    flex-direction: column;
  }

  .login-registration__row input {
    padding-left: 3px;
  }

  .login-registration__row + .login-registration__row {
    padding: 10px 0;
  } 

  .login-registration__title {
    margin-bottom: 15px;
    font-weight: 1.5rem;
  }

  .login-registration {
    padding: 10px;
    margin-top: 20px;
    border: 4px solid #000000;
    border-radius: 10px;
    position: relative;
    {% if not fail %}
      display: none;
    {% endif %}
  }
  
  .login-registration.modal-show {
    display: block;
  }

  .login-registration__btn {
    padding: 0 5px;
  }

  .modal-close {
    width: 22px;
    height: 22px;

    border: 0;
    cursor: pointer;

    background-color: transparent;
    position: absolute;
    top: 5px;
    left: 87%;
  }

  .modal-close::before,
  .modal-close::after {
      content: "";
      top: 10px;
      left: 2px;
      position: absolute;
      width: 19px;
      height: 3px;
      background-color: #000000;
  }

  .modal-close::before {
      transform: rotate(45deg);
  }

  .modal-close::after {
      transform: rotate(-45deg);
  }

  .registration-link {
    margin-left: 40px;
    text-decoration: underline;
  }
</style>

<script>
  var popup = document.querySelector(".login-registration")
  var close = document.querySelector(".modal-close")

  {% if not user.id %}
    var letters = document.querySelector(".main-index__link--letters")
    var my = document.querySelector(".main-index__link--my")

    letters.addEventListener("click", function(evt){
      if (!popup.classList.contains("modal-show")) {
        popup.classList.add("modal-show");
      }
    });
    my.addEventListener("click", function(evt){
      if (!popup.classList.contains("modal-show")) {
        popup.classList.add("modal-show");
      }
    });
  {% endif %}
  
  close.addEventListener("click", function(evt){
    popup.classList.toggle("modal-show");
  });
</script>