<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <div class="container">
    <section class="modal-login">
      <h2>Registration</h2>
      
      <form class="login-form" method="post" action="">
        <p>
          <label class="visually-hidden" for="user-login">Birth date</label>
          <input class="login-icon-user" id="user-login" name="birth-date" placeholder="" type="data" required>
        </p>
        <p>
          <label class="visually-hidden" for="user-password">Password</label>
          <input class="login-icon-password" id="user-password" name="password" placeholder="Password" type="password" required>
        </p>
        <p class="login-help">
          <label class="login-checkbox">
            <input class="visually-hidden" type="checkbox" name="remember">
            <span class="checkbox-indicator"></span>
            Remember me
          </label>
        </p>
        <button class="button" type="submit">Enter</button>
      </form>
    </section>
  </div>
</body>
</html>