{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% block load_jq %}{% endblock  %}
  <link rel="stylesheet" href="{% static 'css/normolize.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% comment %} <link rel="icon" href="{% static img/ice.png %}"> {% endcomment %}
  <title>Wise</title>
</head>

<body>
  <div class="wrapper">
    <header class="header">
      <div class="container">
        <ul class="top-menu">
          {% block top-menu__items %}{% endblock %}
        </ul>
      </div>
    </header>

    <main class="main">
      <div class="container">
        {% block main %}{% endblock %}
      </div>
    </main>

    <footer class="footer">
      <div class="container">
        <ul class="bottom-menu">
          {% block bottom-menu__items %}{% endblock %}
        </ul>
      </div>
    </footer>
  </div>

  {% comment %} <script src="js/main.js"></script> {% endcomment %}
  {% block btn_script %}{% endblock  %}
</body>

</html>